body {
	background-color:#00cc99;
}	
h1 { 
	font-family: 'Blinker', sans-serif;
	color:#9933ff;
	text-align:center;
	text-shadow: 1px 1px 3px black;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	color:#ff0000;
	text-shadow: 2px 1px 3px black;
}

p {

	font-family: 'Rubik', light;
	color:#ffffff;
	font-weight:bold;
	text-shadow: 3px 3px 3px black;
}
